<?xml version="1.0" encoding="UTF-8"?>
<configuration >

    <contextName>eureka-client-consumer</contextName>

	<substitutionProperty name="logbase" value="../eureka-client-consumerlogs/sysout.out.log" />

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
              <level>debug</level>
        </filter>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%level] [%contextName] [%logger{80}:%L] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="file"  class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logbase}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${logbase}-%d{yyyy-MM-dd}.%i.txt</fileNamePattern>
            <maxFileSize>20MB</maxFileSize>
		   <maxHistory>200</maxHistory>
		   <totalSizeCap>10GB</totalSizeCap>  
        </rollingPolicy>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%level] [%contextName] [%logger{80}:%L] %msg%n</pattern>
        </encoder>
    </appender>

    <root>
        <appender-ref ref="console"    level="debug"/>
        <appender-ref ref="file"    level="debug"/>
    </root>

    <logger name="org.springframework" level="info" />
    <logger name="org.hibernate" level="info" />
    <logger name="org.apache.ibatis.session.defaults" level="info" />
    <logger name="com.netflix" level="info" />
    <logger name="org.apache.http" level="info" />
    <logger name="com.netflix.loadbalancer" level="info" />

</configuration>
